body{
    margin: auto;
    background-color: beige;
    height: 100%;
    overflow-y: auto;
}

.top{
    width: 100%;
    height: 4rem;
    color: white;
    position:fixed;
    top: 0;
}

#top{
    position: fixed;
}

.icons{
    position: absolute;
    right: 0;
    margin: 1rem;
}

#newStaff{
    position: absolute;
    left: 0;
    margin: 1rem;
}

.inputId{
    width: 24rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.125rem solid black;
    margin: auto;
}

.loginBttn{
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
    text-align: center;
    margin: 1rem;
    border: none;
    color: white;
    background-color: black;
}

.LoginId{
    display: grid;
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 100vw;
    text-align: center;
} 

.inPut{
    margin: auto;
}

.Bttn{
    margin: auto;
}

#adminWarning{
    position: absolute;
    width: 10rem;
    height: fit-content;
    margin: 1rem;
    background-color: pink;
    border: 0.2rem dashed red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
    color: black;
}

#incorrect{
    color: red;
}

#TandD{
    width: 25rem;
    height: 9rem;
    border: 0.125rem solid black ;
    border-radius: 0.25rem;
    overflow-y: scroll;
    background-color: white;
    margin: auto;
    margin-top: 4rem;
}

#mainItems{
    margin: auto;
    width: fit-content;
    height: fit-content; 
}

#info{
    margin-top: 3.5rem;
    margin-left: 2rem;
    left: 0;
}

#checkbtns{
    display: flex;  
    margin: auto ;
    position: absolute;
    justify-content: space-between;
    height: fit-content;
    width: 22rem;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;   
    justify-content: center;
    align-items: center;
}

#checkin, #checkout{
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
    text-align: center;
    margin: 1rem;
    border: none;
    color: white;
    background-color: black;
}

#download{
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
    text-align: center;
    margin: 1rem;
    border: none;
    color: white;
    background-color: black;
}

#bottom{
    position: absolute;
    right: 10rem;
    bottom:10rem;
}

.back{
    position: absolute;
    left: 0rem;
    margin: 1rem;
}

#times{
    color: black;
}

#newEmployee{
    display: none;
    background-color: beige;
    margin: auto;
    position: relative;
    width: 19rem;
    height: 19rem;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border: 0.1rem solid black;
}

#newEmployee h2{
    color: black;
}

.newemployee{
    margin-top: 0.5rem;
    text-align: center;
    width: 10rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: 0;
}

#createEmployee{
    width: 6rem;
    height: 2rem;
    border-radius: 0.2rem;
    text-align: center;
    margin: 0.2rem;
    border: none;
    color: white;
    background-color: black;
}

#progress{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

#close{
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
}

#times{
    list-style-type: none;
    margin-top: 0.55rem;
}

#allEmployees{
    display: grid;
    box-sizing: border-box;
    gap: 1rem;
    grid-template-columns: repeat(4, auto);
    margin: auto;
    background-color: transparent;
    width: 90%;
    height: fit-content;
    margin-top: 7rem;
}

@media screen and (max-width: 480px){
    #allEmployees{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}

.empDiv{
    background-color: bisque;
    width: 15rem;
    height: 7rem;
    margin: 0.5rem;
    color: black;
}

.empDiv p{
    margin: 1rem;
}

#emp_I{
    margin: auto;
}